{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nam similique accusantium explicabo, facere neque repellat omnis, sed commodi voluptatibus distinctio delectus iusto at illo perspiciatis, exercitationem tempore dolore facilis?</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/singin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}